@import '_variables'

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html, body
  padding: 0
  margin: 0
  font-family: $font-body

h1, h2, h3, h4, h5, h6
  font-family: $font-header
  font-weight: 700
  letter-spacing: 2px
  margin: 0

header
  font-size: 1.5em

p
  max-width: 786px

nav
  font-family: $font-header

nav.main
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 22px 36px 22px
  box-sizing: border-box
  box-shadow: 0 0 3px 2px $ui-shadow
  background: $bg-overlay
  text-align: right
  a
    color: $text-black
    text-decoration: none
    &:hover
      text-decoration: underline
  a:first-child
    float: left
    margin-left: 8px
  a:not(:last-child)
    margin-right: 20px

#nav-logo
  width: 20px
  height: 20px
  float: left
  position: relative
  top: 4px
  right: 12px

.cover
  width: 100%
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  
.primary
  background: $bg-primary
  header
    color: $text-black